.LocationListCont{
	/*background: red;*/
}
.LocationListCont{
		/*background: green;*/
		height:85vh;
		overflow: auto;/*permite que aparezca la barra de scroll*/
}
@media (max-width: 62em){
	.LocationListCont{
		/*background: green;*/
		max-height: 40vh;
		overflow: auto;/*permite que aparezca la barra de scroll*/
		margin-bottom: 20px;
	}
}
.Forecast-title{
	color:white;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px; 
}